@import url('https://fonts.googleapis.com/css2?family=Damion&family=Roboto&family=Romanesco&display=swap');

/*----------------------------------------------------------------Colours*/
header, footer{
    background-image: linear-gradient(white, #AD86BC);
}

nav a{
    color: black;
    font-size: 25px;
}

nav a:hover{
    color: white;
}

button{
    color: white;
    background-color: black;
}

.jobtitle h2{
    text-decoration: none;
    padding: 30px;
}

#projects{
    background-color: #AD86BC;
}

#workwithme{
    background-color: #828282;
}

#workwithme h2{
    color: white;
}
.cv{
    color: black;
}

.cv:hover{
    color: white;
}

/*----------------------------------------------------------------Heading*/
heading{
    flex-direction: row;
}


h1{
    font-family: "Romanesco", sans-serif;
    margin-left: 10px;
    font-size: 70px;
    width: 50%;
}

.navbar{
    font-family: "Romanesco", sans-serif;
    font-size: 30px;
    width: 50%;
    margin-left: 100px;
}

nav a{
    text-align: center;
}

nav a:hover{
    text-decoration: none;
}

.container{
    position: relative;
    margin: 0;
    width: 100%;
}

img{
    width: 100%;
    border: 1px solid black;
}



.jobtitle{
    background-image: url("../images/home-office.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    color: white;
    font-family: "Romanesco", sans-serif;
    font-size: 40px;
    
}


/*---------------------------------------------------------------Section*/


h2, h3{
    font-family: "Romanesco", sans-serif;
    text-decoration: underline;
    font-size: 50px;
    padding: 30px;
    text-align: center;
}

ul{
    list-style-position: inside;
    text-align: center;
}

.profile-picture img{
    padding: 50px;
    margin-left: 75px;
    border-radius: 50%;
    width: 35%;
    float: left;
}

.qualifications{
    display: inline-block;
    float: right;
}

.btn btn-primary{
    color: black;
}

/*---------------------------------Key Skills*/
#keyskills .html, .css, .javascript, .seo, .ppc, .spss{
    width: 75px;
    height: 75px;
    margin: 20px;
    padding: 50px;
    position: relative;
}

/*---------------------------------Projects*/


.project1{

}

.project2{

}

.video{

}


/*--------------------------------Work With Me*/
#workwithme{
    margin: 0;
}

#workwithme h2{
    text-decoration: none;
    margin-bottom: 0;
}

.collab{
    margin-bottom: 35px;
}

form{
    width: 500px;
    height: 250px;
    border: 3px solid black;
}

div-wrapper {
    height: 200px;
    margin-top: 40px;
}

.div-to-align {
    width: 50%;
    padding: 10px 10px;
}


.projectdetails{
    width: 250px;
    height: 500px;
}
/*--------------------------------------------------------------------Footer*/
footer{
    height: 120px;
}


/*--------------------------------------------------------------------MediaQueries






